@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Estilos para el encabezado */
header div{
    height: 150px;
    background-color: #232931;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header .logo{
    font-size: 70px;
    margin-left: 60px;
}
header p {
    color: #EEEEEE;
}
header p span {
    color: #4ECCA3;
}

header nav a{
    text-decoration: none; 
    color: aliceblue;
    margin-right: 40px;
    border: #4ECCA3;
    border-radius: 30px;
    border-style: solid;
    padding: 20px;
    transition: background-color .5s;
}

header nav a:hover{
    background-color: #4ECCA3;
}

/* Estilos para el encabezado */


/* Estilos para el secction I */

.contenidoEdu{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenidoEdu .contenedorEdu{
    max-width: 800px;
}

.contenidoEdu .contenedorEdu h1{
    font-size: 40px;
}
.contenidoEdu .contenedorEdu p{
    font-size: 25px;
}
/* Estilos para el secction I */

/* Estilos para el secction II */

.contenidoLabo{
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
     /* flex-direction: row-reverse; */
}

.contenidoLabo .contenedorLabo{
    max-width: 600px;
}

.contenedorLabo h1{
    font-size: 40px;
}
.contenedorLabo p{
    font-size: 25px;
}



/* Estilos para el secction II */

/* Estilos para el secction III */

.contenidoCli{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenidoCli .contenedorCli{
    max-width: 800px;
}

.contenidoCli .contenedorCli h1{
    font-size: 40px;
}
.contenidoCli .contenedorCli p{
    font-size: 25px;
}


/* Estilos para el secction III */

/* Estilos para el footer */
footer{
    background-color: #232931;
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    border-radius: 30px;

}
footer p{

    display: block;
    margin-right: auto;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 120px;

}

footer ul{
    position: relative;
    display: flex;
    padding-top: 50px;
    padding-right: 100px;


}

footer ul li{

    padding-right: 10px;
    margin-left: 80px;
    list-style: none;

}

ul li a{
    font-size: 30px;
    color: #4ECCA3;
    transition: 0.5s;
}

ul li a:hover{
    font-size: 35px;
    filter: drop-shadow(0 0 20px #4ECCA3);

}



/* Estilos para el footer */