@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Estilos para el encabezado */
header div{
    height: 150px;
    background-color: #232931;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header .logo{
    font-size: 70px;
    margin-left: 60px;
}
header p {
    color: #EEEEEE;
}
header p span {
    color: #4ECCA3;
}

header nav a{
    text-decoration: none; 
    color: aliceblue;
    margin-right: 40px;
    border: #4ECCA3;
    border-radius: 30px;
    border-style: solid;
    padding: 20px;
    transition: background-color .5s;
}

header nav a:hover{
    background-color: #4ECCA3;
}

/* Estilos para el encabezado */

/* Estilos para el slider */

#slider .slider_images{
    display: none;
    margin-left: 25%;
}

#slider .slider_navigation{
    margin-left: 43%;
}

.slider_navigation button{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    font-size: 25px;
    box-shadow: 2px 2px#232931;
    background-color: aliceblue;
    transition: background-color 1s;
}


.slider_navigation button:hover{
    background-color: #4ECCA3;

}




/* Estilos para el slider */

/* Estilos para el secction I */

.contenido{
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido .contenedor{
    max-width: 800px;
}

.contenido .contenedor h1{
    font-size: 40px;
}
.contenido .contenedor p{
    font-size: 25px;
}
/* Estilos para el secction I */

/* Estilos para el secction II */

.contenido2{
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
     /* flex-direction: row-reverse; */
}

.contenido2 .contenedorInfo{
    max-width: 600px;
}

.contenedorInfo h1{
    font-size: 40px;
}
.contenedorInfo p{
    font-size: 25px;
}


/* Estilos para el secction II */

/* Estilos para el secction III */

.contenedorCartas{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}

.carta-1{
    width: 500px;
    height: 500px;
    border: #232931;
    border-style: solid;
    margin-left: 50px;
    border-radius: 35px;
    box-shadow: 5px 5px #232931;
    transition: background-color 1s;
}


.carta-1:hover{
    background-color: #4ECCA3;
}

.carta-1 h3{
    text-align: center;
    font-size: 50px;
}

.carta-1 p{
    text-align: center;
    font-size: 20px;
}

.carta-2{
    width: 500px;
    height: 500px;
    border: #232931;
    border-style: solid;
    margin-left: 50px;
    border-radius: 35px;
    box-shadow: 5px 5px #232931;
    transition: background-color 1s;
}
.carta-2:hover{
    background-color: #4ECCA3;
}

.carta-2 h3{
    font-size: 50px;
    text-align: center;
}

.carta-2 p{
    text-align: center;
    font-size: 20px;
}

.carta-3{
    width: 500px;
    height: 500px;
    border: #232931;
    border-style: solid;
    margin-left: 50px;
    border-radius: 35px;
    box-shadow: 5px 5px #232931;
    transition: background-color 1s;
}
.carta-3:hover{
    background-color: #4ECCA3;
}



.carta-3 h3{
    text-align: center;
    font-size: 50px;
}

.carta-3 p{
    text-align: center;
    font-size: 20px;
}

#paquetes button{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 75px;
    border-radius: 30px;
    box-shadow: 3px 3px#232931;
    transition: background-color .5s;
    font-size: 25px;
   }

#paquetes button:hover{
    color: #EEEEEE;
    background-color: #232931;
}



/* Estilos para el secction III */



/* Estilos para el footer */
footer{
    background-color: #232931;
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    border-radius: 30px;

}
footer p{

    display: block;
    margin-right: auto;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 120px;

}

footer ul{
    position: relative;
    display: flex;
    padding-top: 50px;
    padding-right: 100px;


}

footer ul li{

    padding-right: 10px;
    margin-left: 80px;
    list-style: none;

}

ul li a{
    font-size: 30px;
    color: #4ECCA3;
    transition: 0.5s;
}

ul li a:hover{
    font-size: 35px;
    filter: drop-shadow(0 0 20px #4ECCA3);

}



/* Estilos para el footer */






h1{font-size: 40px;}
h2{font-size: 60px;}
h3{font-size: 50px;}
p{font-size: 40px;}

